*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.logInPage, .signUpPage{
    background-image: url("../images/futsal.jpg");
    background-size: cover;
    height: max-content;
    padding-top: 80px;
    padding-bottom: 80px;
}