.matchesPage {
  background-color: #d0f0c0;
  background-size: cover;
  height: max-content;
  padding-top: 50px;
  padding-bottom: 80px;
}

.filter {
  background-color: #d0f0c0;
  padding-top: 80px;
}
